body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#content {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

.card {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: #dfddb9;
  margin: 1%;
  width: 20%;
}
